* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 100px;
  background: #023e7d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar h1 {
  font-family: "Italianno", cursive;
  color: #ffd100;
}
.navbar a {
  color: rgb(253, 250, 250);
  text-decoration: none;
  font-size: 2.5rem;
  margin: 1rem;
  padding: 3.2rem;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease-in-out;
}
.navbar a:hover {
  color: #ffd100;
  border-bottom: 5px solid rgb(252, 95, 95);
}
.navbar a:active {
  background: rgba(173, 173, 172, 0.7);
  border-bottom: 5px solid rgb(252, 95, 95);
  -webkit-animation-name: animi;
          animation-name: animi;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  border-radius: 10px;
}
@-webkit-keyframes animi {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes animi {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.navbar .logo {
  flex-grow: 1;
  margin: 5rem;
  font-size: 2.5rem;
  color: rgb(253, 250, 250);
  display: flex;
  align-items: center;
}
.navbar .logo h1 {
  margin: 1rem;
}
.navbar .btn-menu {
  display: flex;
  color: rgb(253, 250, 250);
}
.navbar .closeMenu {
  display: none;
}
.navbar .openMenu {
  display: block;
}

.sidebarLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 100vh;
  padding: 3rem;
  background: #023e7d;
  transition: all 0.9s;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebarLeft h2 {
  color: #ffd100;
  font-family: "Italianno", cursive;
}

.Sidehiden {
  transform: translateX(-1000px);
}

.SidehidenShow {
  transform: translateX(0px);
}

.sidebarLeft ul {
  list-style: none;
  color: rgb(253, 250, 250);
}

.list {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul li {
  font-size: 2.5rem;
  color: #ffd100;
  cursor: pointer;
}

.actv {
  display: none;
}

.show {
  display: block;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #023e7d;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(250, 46, 46);
}

.sidebarLeft .list {
  font-size: 2.5rem;
  margin: 2rem auto;
}

@media (max-width: 1343px) {
  .navbar {
    height: 66px;
  }
  .logo h1 {
    font-size: 2rem;
    margin: 0.5rem;
  }
  .navbar a {
    font-size: 2.5rem;
    padding: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .navbar {
    height: 48px;
  }
  .logo h1 {
    font-size: 2rem;
    margin: 0.5rem;
  }
  .navbar a {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
@media (max-width: 817px) {
  .navbar {
    height: 40px;
  }
  .navbar a {
    font-size: 1.5rem;
    padding: 0.7rem;
  }
}
@media (max-width: 770px) {
  .openMenu {
    display: block;
  }
  .navbar a {
    display: none;
  }
  .logo h1,
i {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .navbar .btn-menu {
    display: none;
  }
  .sidebarLeft {
    transform: translateX(-1000px);
  }
}/*# sourceMappingURL=navbar.css.map */