@import "../style/variable/variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container_basket {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.coni::-webkit-scrollbar {
  width: .5em;
  overflow: auto;
  height: .5em;
}
.coni::-webkit-scrollbar-thumb{
  border-radius: 15px;
  background: yellow;
}

.coni {
  background: rgb(48, 2, 197);
  padding: 2rem;
  height: 500px;
  overflow-y: scroll;
  flex: 3;
  border: 5px solid rgb(161, 159, 159);
  border-radius: 15px;

}

.container-basket {
  width: 60vw;
  margin: 2rem auto;
  border-radius: 13px;
  background: $backgroundO;
  border-right: 3px solid #eee;
  border-top: 3px solid #eee;
}
.wrrap-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.offer-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  .img{
  width: 100%;
  }
}

.sumitem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sumitem p {
  font-size: 1.9rem;
  font-weight: bold;
  color: rgb(248, 248, 244);
}
.counter {
  border: 3px solid #eee;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.counter .click,
.trash {
  cursor: pointer;
}
.counter span {
  margin: 1rem;
  color: tomato;
  font-size: 1.9rem;
  font-weight: bold;
}
.basketemtp {
  display: flex;
  background: blue;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  img {
    width: 200px;
    height: 200px;
    transition: all 0.9s;
  }
}
.emptybasket {
  padding: 2rem;
  border-radius: 10px;
  background: transparent;
  color: yellow;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.9s;
}
.total {
  font-size: 3rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(83, 133, 248, 0.972);
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total div span {
  color: rgb(20, 14, 14);
  font-size: 2.9rem;
  font-weight: bold;
}

.total button {
  padding: 1rem 5rem;
  border-radius: 12px;
  border: none;
  background: linear-gradient(1deg, rgba(6, 6, 3, 0.9), rgb(12, 32, 246) 100%);
  cursor: pointer;
  color: rgb(255, 217, 0);
  font-size: 2.9rem;
  font-weight: bold;
  margin-top: 1rem;
}

.hiden {
  display: none;
}
.show {
  display: block;
}

@media (max-width: 768px) {
  .container_basket {
    flex-direction: column;
  }
  .counter {
    border: 3px solid tomato;
  }
  .counter span {
    color: rgb(248, 246, 246);
  }
  .offer-img {
    display: flex;
    justify-content: center;
  }
  .offer-img img {
    width: 50%;
  }

  .offer-img {
    width: 300px;
    height: 150px;
  }

  .total div span {
    font-size: 2rem;
    font-weight: bold;
  }
  .total button {
    padding: 0.5rem 5rem;
    font-size: 2rem;
    font-weight: bold;
  }
}
