@import '../style/variable/variable.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.coni{
  background: rgb(48, 2, 197);
  padding: 2rem;
}
.container-basket {
  width: 50vw;
  margin: 2rem auto;
  border-radius: 13px;
  background: $backgroundO;
}
.wrrap-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  transition: all .5s;
}
.text {
  width: 200px;
}
.text p{
   font-size: 2.9rem;
  font-weight: bold;
}
.sumitem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.sumitem p {
  font-size: 2.9rem;
  font-weight: bold;
}
.counter {
  border: 3px solid #eee;
  padding: 0.5rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter .click,.trash{
  cursor: pointer;
}
.counter span {
  margin: 1rem;
  color: tomato;
  font-size: 2.9rem;
  font-weight: bold;
}
.total {
  font-size: 3rem;
  text-align: center;
  margin-right: 7rem;
  width: 95vw;
  padding: 2rem;
  border-radius: 10px;
}

.total div span{
 color:#fff;
  font-size: 2.9rem;
  font-weight: bold;
}

.total button{
    padding: 1rem 5rem;
    border-radius: 12px;
    border: none;
    background: linear-gradient(1deg, rgba(6, 6, 3, 0.9),rgb(12, 32, 246) 100%);
    cursor: pointer;
    color: rgb(255, 217, 0);
     font-size: 2.9rem;
  font-weight: bold;
  margin-top: 1rem;
}

.hiden{
  display: none;
}
.show{
  display: block;
}

@media (max-width:770px){
  .counter{
    border: 3px solid tomato;
  }
  .counter span {
    color: #000;
  }
}