@import "../style//variable/variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-footer {
  width: 100%;
 max-height: 100%;
  background: $bkgroundH;
  display: flex;
  flex-direction: column;
  

  .footer-info .footer-header-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #fff;
     margin-top: 5rem;
     flex-wrap: wrap;
    //  gap: 2rem;
  }
  .footer-info .footer-header-li {
    width:320px;
    padding:7rem 2rem;
    border-radius: 10px;
    position: relative;
    background: $backgroundl;
    margin: 3rem;
  }
   .imgser{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      position: absolute;
      top:-4%;
      left:35%;
   }

.footer-header-li p{
  font-size: 2rem;
  font-weight: bold;
  color:$bkcolor
}
  .textfooter {
    padding: 2rem;
    color: #fff;
  }

  .footer-contact {
   display: flex;
  //  justify-content: center;
   
  }
  .footer-contact span {
    margin:0.5rem;
    color: #fff;
    padding: 3rem 1rem;
    cursor: pointer;
  }
  .copyright{
    text-align: center;
    padding: 2rem;
    color: #fff;
    font-size: 2.5rem;
  }
  
}
