@import '../style/variable/variable.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-mobile{
    width:100%;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
    gap: 2.5rem;
       text-align: center;
  
    .wrrap-mobile{
    display: flex;
    flex-direction: column;
     width: 250px;
    height: 350px;
     margin: 3rem;
     transition: all .5s;
     cursor: pointer;
    
   }
   .wrrap-mobile:hover{
    transform: scale(1.2);
     padding:1rem 2rem;
       border-right: 3px solid rgb(249, 173, 173);
   }
  .mobile-img{
   width: 250px;
    height: 220px;

  
  }

.mobile-titel{
    height: 150px;
}

.mobile-titel p , button{
    margin:0.3rem;
    font-weight: bold;
    font-size: 1.9rem;
}
.mobile-titel span{
    color: tomato;
}
button {
    border: none;
    padding: $pading;
    cursor: pointer;
    border-radius: 7px;
    background: #eee;
  }
  button:hover {
    background: $backgroundb;
    color: $bkcolor;
  }
}