@import "../style/variable/variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  text-align: center;
  padding: 2rem;
   background: rgb(26, 100, 179);
  .wrrap-mobile {
    width: 400px;
    height: 550px;
    transition: all 0.5s;
    // box-shadow: 0 0 10px 0px rgb(229, 184, 184);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
   
    .img {
      width: 350px;
      height: 300px;
      cursor: pointer;
      background:no-repeat center  ;
      background-size: contain;
      padding: 2rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .wrrap-mobile:hover {
    box-shadow: 0 0 30px 0px yellow;
    // background: rgb(214, 225, 244)
  }

  .mobile-titel {
    height: 250px;
  }

  .mobile-titel p,
  button {
    margin: 0.3rem;
    font-weight: bold;
    font-size: 1.9rem;
  }
  .mobile-titel span {
    color: tomato;
  }
  button {
    border: none;
    padding: $pading;
    cursor: pointer;
    border-radius: 7px;
    background: #eee;
  }
  button:hover {
    background: $backgroundb;
    color: $bkcolor;
  }
  .fa-star{
    color:$bkcolor
  }
}
