@import "./variable/variable.scss";

.container-listp {
  width: 95vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8rem;
  flex-wrap: wrap;
  .mobile {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: #f56d6d;

    margin: 1rem;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 2rem;
    }
  }
}

@media (max-width: 770px) {
  .container-listp {
    flex-wrap: wrap;
  }
}
