@import "./variable/variable.scss";
* {
  margin: $magrinBody;
  padding: $padingBody;
  box-sizing: border-box;
}

.baner {
  max-width: 100%;
  height: 500px;
  background: $background;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product{
  // margin-top: 2rem;
}
.product h2 {
  font-size: 15rem;
}
.offer h2 {
  font-size: 8rem;
}
.product h2,
.offer h2 {
  color: $bkcolor;
}

.product span {
  font-size: $font;
  margin-right: $margin;
  cursor: pointer;
  color: rgb(224, 222, 222);
  padding: $pading;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  border-radius: 5px;
}
.product span:hover {
  background: $bkcolor;
  color:$background
}
.product button {
  font-size: $font;
  margin-top: 3rem;
  border: none;
  padding: $pading 2rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all .5s ease-in-out;
}

.offer h2 {
  margin-bottom: 2rem;
}
.offer span {
  font-size: 4rem;
  margin-left: $margin;
  padding: $pading;
  color: rgb(224, 222, 222);
}

.lab {
  background: $bkcolor;
}
.lab h2 {
  color: $background;
}
.lab span {
  color: black;
}
.product button:hover{
 background: $bkcolor;
 color:$background;
 border-radius: 5px;
}
.lab span:hover{
 background: $background;
 color:$bkcolor ;
 border-radius: 5px;
}
@media (max-width:930px) {
  .baner {
  flex-wrap: wrap;
    height: 750px;
  }
}
@media (max-width:600px){
  .baner{
    flex-direction: column;
    text-align: center;
  }
.offer h2{
     font-size: 2rem;
     text-align: center;
  }
   .offer span {
    font-size: 2rem;
  }
.span-pro{
  display: flex;
  flex-direction: column;

}
.span span{
   margin: 0;
   padding: 1rem;
}
}