@import "./variable/variable.scss";
* {
  margin: $magrinBody;
  padding: $padingBody;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.navbar {
  width: 100%;
  height: 100px;
  background: #fff;
  display: $dsFlex;
  align-items: center;

  .logo {
    flex: 1;
    margin-left: 5rem;
  }
  .logo-nav {
    text-decoration: none;
  }
  .logo-nav h1 {
    font-family: $font-logo;
    color: tomato;
    cursor: pointer;
    font-size: 2.5rem;
  }
  .bknav {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .list-nav {
    color: #000;
    text-decoration: none;
    font-size: $fontNavbar;
    margin: 2rem;
    padding: 1rem 0;
    border-bottom: $boderbottom;
    transition: $trans;
    font-family: $font-logo;
     width:110px;
     height: 50px;
     z-index: 0;

  }
  .list-nav:hover::before{
    content:" ";
    width:inherit;
    height:inherit;
    border-radius: 5px;
    background: tomato;
    animation: anim 1.2s infinite alternate;
    position: absolute;
    top:25px;
    z-index:-1;
  }
@keyframes anim{
   0%,
   20%,
  25%{
     transform: translateX(-20px) ;
     }
    50%{
     transform:  translateX(-20px) ;
    }
   
}

  .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: none;
  }
  .btn-menu i {
    margin-right: 4rem;
    font-size: 2rem;
    color: #000;
  }
  .closeMenu {
    display: $displayNone;
  }
  .openMenu {
    display: block;
  }
}

@media (max-width: 770px) {
  .navbar {
    height: 60px;
  }
  .openMenu {
    display: $displayShow;
  }
  .list-nav {
    display: $displayNone;
  }
  .logo h1,
  i {
    font-size: 1.9rem;
  }
}

@media (min-width: 768px) {
  .navbar .btn-menu {
    display: $displayNone;
  }
  .sidebarLeft {
    transform: translateX(-1000px);
  }
}
