@import "../style/variable/variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}
.container-offer {
  width: 97vw;
  margin: 7rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 2rem;
  flex-wrap: wrap;
  background: rgba(44, 57, 171);
  border-radius: 15px;
 .img-offer{
  position: relative;
 }
 .orderadd{
  width: 120px;
  height: 100px;
  overflow: hidden;
   position: absolute;
  top:40%;
  left:14%;
 }
 .order{
  background:yellow;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  color: blue;
  transition: all .5s;
 }
  .orderadd1{
  width: 120px;
  height: 100px;
  overflow: hidden;
   position: absolute;
 top:40%;
  left:46.5%;
 }
  .order1{
  background: yellow;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  color: blue;
  overflow: hidden;
  transition: all .5s;
 }
  .orderadd2{
  width: 120px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top:40%;
  left:79.5%;
 }
  .order2{
 transition: all .5s;
  background: yellow;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  color: blue;
  overflow: hidden;
 }
 .hiden-order{
 transform: translate(-200px);
 }
 .show-order{
  transform: translate(0px);
 }

  .offer-text p {
    font-size: 4rem;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 32px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 15px #0fa;
    animation: flicker 1.5s infinite alternate;
  }
  @keyframes flicker {
    0%,
    57%,
    100% {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
        0 0 80px #0fa, 0 0 10px #0fa, 0 0 10px #0fa, 0 0 10px #0fa;
    }

    0%,
    100% {
      text-shadow: none;
    }
  }

  .cradOffer {
    width: 350px;
    height: 350px;
    background: $backgroundO;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    flex-wrap: wrap;

    border-right: 3px solid #eee;
    border-top: 3px solid #eee;
  }
  .img-offer {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-offer img {
    width: 100%;
  }

  .titel-Offer {
    position: relative;
  }
  .titeltext {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #fff;
    position: relative;
    align-items: center;
  }
  .timeroffer {
    text-align: center;
    margin: 2rem auto;
  }
  .timeroffer span {
    margin: 0.6rem;
    font-weight: bold;
    color: yellow;
    font-size: 3rem;
  }
  .buying-offer {
    cursor: pointer;
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  .arrows {
    font-weight: bold;
    font-size: 3rem;
    animation: anima 1.3s linear 0.5s infinite alternate;
    color: tomato;
  }
  @keyframes anima {
    from {
      transform: translate(0px);
    }
    to {
      transform: translate(25px);
    }
  }
}
@media (max-width: 1185px) {
 .orderadd,.orderadd1,.orderadd2{
  display: none;
 }
}

@media (max-width: 600px) {
  .cradOffer {
    flex-direction: row;
  }
}
