@import "../style/variable/variable.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}
.container-offer {
  width: 97vw;
  margin: 10rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 1rem;
  flex-wrap: wrap;
  background: rgba(44, 57, 171);
  border-radius: 15px;
  .offer-text {
    // position: absolute;
    // top: 40px;
    // left: 0px;
    transform: rotate(-45deg);
  }
  .offer-text p  {
    font-size: 4rem;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 32px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 15px #0fa;
    animation: flicker 1.5s infinite alternate;
    // font-family:"Sacramento", sans-serif ;
  }
  @keyframes flicker {
    0%,
    // 18%,
    // 22%,
    // 25%,
    // 53%,
    57%,
    100% {
      text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
        0 0 80px #0fa, 0 0 10px #0fa, 0 0 10px #0fa, 0 0 10px #0fa;
    }

    0%,
    100% {
      text-shadow: none;
    }
  }
 
  .cradOffer {
    width: 350px;
    height: 350px;
    background: $backgroundO;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    flex-wrap: wrap;
    // cursor: pointer;
    margin-top: 6rem;
  }
  .img-offer {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-offer img {
    width: 100%;
  }

  .titel-Offer {
    position: relative;
  }
  .titeltext {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #fff;
    position: relative;
    align-items: center;
  }
  .timeroffer {
    text-align: center;
    margin: 2rem auto;
  }
  .timeroffer span {
    margin: 0.6rem;
    font-weight: bold;
    color: rgba(183, 28, 1, 0.998);
    font-size: 3rem;
  }
  .buying-offer {
    cursor: pointer;
    display: flex;
    gap:3rem;
    align-items: center;

  }
  .arrows{
    font-weight: bold;
    font-size: 3rem;
    animation: anima  3s linear .5s infinite alternate ;
    color: tomato;
  }
  @keyframes anima{
   from{ transform: translate(0px)};
   to{transform: translate(25px);}
}

}

@media (max-width: 600px) {
}
