@import "./variable/variable.scss";
* {
  margin: $magrinBody;
  padding: $padingBody;
}
.searchbar {
  display: $dsFlex;
  width: 100%;
  align-items: center;
  border: 3px solid rgb(243, 241, 241);
  background:#fff ;
  justify-content: flex-end;
  .form{
    flex: 4;
    margin: 1rem;
  }
  .hidenbar{
    display: none;

  }
  .showbar{
    display: block;
  }
  .input-search {
    width: 100%;
    padding: 1rem;
    border: none;
    background: rgb(224, 222, 222);
    // margin: 1rem;
    border-radius: 7px;
    outline: none;
    font-size: 3rem;
  }
  .sign-buy {
    padding: .5rem;
    font-size: $font;
    margin: 1rem;
    border: 3px solid rgb(243, 241, 241);
    border-radius: 7px;
    position: relative;
  }
  .sign-buy a {
    text-decoration: none;
   color: rgb(109, 106, 106);
  }
  .sign-buy i {
    margin-left: 2rem;
      color: rgb(109, 106, 106);
  }
  .count-baslet{
    position: absolute;
    top:3px;
    right: 3px;
    width: 15px;
     height:15px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bold;
     color: tomato;
    //  border: 1px solid yellow;
     background: #fff;
     font-size: 2.5rem;
     z-index: 100;
  }

  @media (max-width: 600px) {
    .input-search,.sign-buy{
        font-size: 1.3rem;
    }
    
  }
}
