@import "./variable/variable.scss";
.wrrap {
  position: relative;
  max-width: 100%;
  height: 350px;
}
.slideStyle {
}
.arrow-leftL {
  position: absolute;
  bottom: 50%;
  left: 2%;
  color: $bkcolor;
  cursor: pointer;
  font-size: $font;
  transform: translate(-50%, -50%);
}
.arrow-rightL {
  position: absolute;
  bottom: 50%;
  right: -50px;
  color: $bkcolor;
  cursor: pointer;
  font-size: $font;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .wrrap {
    height: 200px;
  }
  .arrow-leftL {
    left: 20%;
    bottom: -2%;
  }
  .arrow-rightL {
    right: 20%;
    bottom: -2%;
  }
}
