 .list{
   background: rgb(233, 222, 229);
}

.navbar{
    display: flex;
    justify-content:space-between;
}
.navbar a{
     margin: 10px;
    color: tomato;
    padding:15px;
    font-size: 1.6rem;
}
.items{
    padding: 15px;
    margin: 10px;
}
.items a{
    margin: 10px;
    color: tomato;
    font-size: 1.6rem;
    
}