$magrinBody: 0;
$padingBody: 0;
$background: #023e7d;
$font-logo: 'Italianno', cursive;
$color: rgb(253, 250, 250);
$font: 2.5rem;
$margin: 1rem;
$marginLogo: 5rem;
$pading: 1rem;
$displayNone: none;
$displayShow: block;
$dsFlex: flex;
$trans: all 0.5s ease-in-out;
$bkcolor: #ffd100;
$boderbottom: 3px solid transparent;
$boderbottomline: 5px solid rgb(252, 95, 95);
