$magrinBody: 0;
$padingBody: 0;
$bkgroundH:rgb(5, 5, 161);
$background:linear-gradient(130deg,#f9f8f3, blue 130% );
$backgroundb:linear-gradient(10deg, blue ,#f9f8f3 165% ,);
$font-logo: 'Italianno', cursive;
$color: rgb(253, 250, 250);
$colorArro:linear-gradient(130deg,#f9f8f3, blue 130% );
$font: 3.5rem;
$fontNavbar: 2.5rem;
$margin: 1rem;
$marginLogo: 5rem;
$pading: 1rem;
$displayNone: none;
$displayShow: block;
$dsFlex: flex;
$trans: all 0.5s ease-in-out;
$bkcolor: #f7d22e;
$bkcolorB: #291814;
$boderbottom: 3px solid transparent;
$boderbottomline: 5px solid rgb(252, 95, 95);
$opacty: 0.4;
